.content-section {
    text-align: center;
}
#contacto ul {
    list-style-type: none;
    padding: 0;
}
#contacto ul li {
    display: inline;
    margin: 0 10px;
}
#contacto ul li a {
    text-decoration: none;
    color: #333; /* Color del texto */
    background-color: #f0f0f0; /* Color de fondo */
    padding: 10px 20px; /* Espacio alrededor del texto */
    border-radius: 20px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave */
}
#contacto ul li a:hover {
    background-color: #ddd; /* Cambio de color al pasar el ratón */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul p {
    display: inline;
    margin-right: 20px;
}

nav ul p a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.banner {
    background-color: #6495ED;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.content-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-section h2 {
    color: #333;
}

.content-section p {
    color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
